<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.poldichen.knowaboutme.dao.ISkillDao">

    <select id="getById" resultType="com.poldichen.knowaboutme.entity.Skill">
        SELECT * FROM skill where id = #{id}
    </select>

    <select id="getAll" resultType="com.poldichen.knowaboutme.entity.Skill">
        select * from skill
    </select>

    <update id="updateById">
        update skill set
        name = #{skill.name},
        skilled = #{skill.skilled},
        description = #{skill.description}
        where id = #{id}
    </update>

    <insert id="createOne" useGeneratedKeys="true" keyProperty="id">
        insert into skill (name, skilled, description)
        values (#{skill.name}, #{skill.skilled}, #{skill.description})
    </insert>

</mapper>